body {
  color: blue;
  background-image: url('../assets/dark_background.jpg');
}


h1 {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  color: orange;
}

div{
   margin-left: auto ;
  margin-right: auto ;
}


#chatbox {
  float: right;
}

iframe{
  border: none;
}